_xmsgs/
iseconfig/
xst/
_ngo/
planAhead_run_*/
xlnx_auto_0_xdb/
.Xil/

*.html
*.gise
*.cmd_log
*.lso
*.ngr
*.prj
*.stx
*.syr
*.xst
*.xml
*.xrpt
*.ngc
*.bld
*.ncd
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.ncd
*.map
*.mrp
*.ncd
*.ngm
*.csv
*.txt
*.bgn
*.bit
*.drc
*.tcl
*.log
*.debug

Assembleler.exe
